
#container{
    border: solid black;
    background-color: rgba(202, 199, 195, 0.342);
    display: grid;
    padding: 5px 5px 5px 5px;
    margin: 25px 25px 25px 25px;
}

h2{
    text-align: center;
    color: rgb(134, 125, 113);
}
svg{
    margin-top: 2px;
    float: right;
}
button{
    float: inline-end;
}

